# Copy to hardhat/.env

DEPLOYER_PRIVATE_KEY=0x
RITUAL_RPC_URL=https://rpc.ritualfoundation.org
# PREDICT_ADDRESS=0x
# ORACLE_URL=https://raw.githubusercontent.com/<you>/ritual-chain-workshop-2/main/spec.json
